In [18]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [20]:
# Lecture .csv

df = pd.read_csv("Camp_Market.csv", sep=';')

In [21]:
# Encodage One-Hot

data_encoded = pd.get_dummies(df, columns=['Education'])

#var Living_with
def love_status(status):
    if status == "Single" or status == "Widow" or status == "Divorced":
        return 'Single'
    elif status == "Together" or status == "Married":
        return 'In a relationship'
data_encoded["Living_with"] = df["Marital_Status"].apply(love_status)

#var Family_size
data_encoded["Family_size"] = data_encoded["Kidhome"] + np.where(
    (data_encoded["Marital_Status"] == "Together") | (data_encoded["Marital_Status"] == "Married"), 
    2, 
    1
)

# var Customer_for nombre de jours depuis que le client a commencé ses achats au magasin depuis la dernière date enregistrée
today = pd.Timestamp(datetime.date.today())
df['Customer_for'] = (today - pd.to_datetime(df['Dt_Customer']))

# var Age
data_encoded["Age"] = date.today().year - data_encoded["Year_Birth"]

#var Spend
data_encoded["Spent"] = data_encoded[[col for col in df.columns if col.startswith('Mnt')]].sum(axis=1)

#var Is_parent
data_encoded["Is_parent"] = (data_encoded.Kidhome) > 0

#var Children
data_encoded["Children"] = data_encoded.Kidhome

# drop des colonnes non utilisées
data_encoded = data_encoded.drop(columns=["Dt_Customer", "Marital_Status", "Dt_Customer", "Year_Birth", "Kidhome"])

In [22]:
print(data_encoded)

         ID   Income  Teenhome  Recency  MntWines  MntFruits  MntMeatProducts  \
0      5524  58138.0         0       58       635         88              546
1      2174  46344.0         1       38        11          1                6
2      4141  71613.0         0       26       426         49              127
3      6182  26646.0         0       26        11          4               20
4      5324  58293.0         0       94       173         43              118
...     ...      ...       ...      ...       ...        ...              ...
2235  10870  61223.0         1       46       709         43              182
2236   4001  64014.0         1       56       406          0               30
2237   7270  56981.0         0       91       908         48              217
2238   8235  69245.0         1        8       428         30              214
2239   9405  52869.0         1       40        84          3               61

      MntFishProducts  MntSweetProducts  MntGoldProds  ...  Education_Basic  \
0                 172                88            88  ...            False
1                   2                 1             6  ...            False
2                 111                21            42  ...            False
3                  10                 3             5  ...            False
4                  46                27            15  ...            False
...               ...               ...           ...  ...              ...
2235               42               118           247  ...            False
2236                0                 0             8  ...            False
2237               32                12            24  ...            False
2238               80                30            61  ...            False
2239                2                 1            21  ...            False

      Education_Graduation  Education_Master  Education_PhD  \
0                     True             False          False
1                     True             False          False
2                     True             False          False
3                     True             False          False
4                    False             False           True
...                    ...               ...            ...
2235                  True             False          False
2236                 False             False           True
2237                  True             False          False
2238                 False              True          False
2239                 False             False           True

            Living_with  Family_size  Age  Spent  Is_parent  Children
0                Single            1   66   1617      False         0
1                Single            2   69     27       True         1
2     In a relationship            2   58    776      False         0
3     In a relationship            3   39     53       True         1
4     In a relationship            3   42    422       True         1
...                 ...          ...  ...    ...        ...       ...
2235  In a relationship            2   56   1341      False         0
2236  In a relationship            4   77    444       True         2
2237             Single            1   42   1241      False         0
2238  In a relationship            2   67    843      False         0
2239  In a relationship            3   69    172       True         1

[2240 rows x 35 columns]